<!-- /blogs/show.ejs -->

<% layout("/layouts/boilerplate") %>

<head>
  <title><%= blog.title %></title>
  <link rel="stylesheet" href="../../public/css/show.css" />
  <link rel="stylesheet" href="../../public/css/review.css" />
</head>

<body>
  <div class="container1">
    <div class="blogPost mt-3">
      <div class="blog-container ">
        <div class="blogProfile">
          <h3>
            <img src="../../extra/user.jpg" alt="" /><%= blog.owner.username %>
          </h3>
        </div>
        <div class="blog-header">
          <h6 class="blog-title"><%= blog.title %></h6>
          <p class="blog-meta">
            Posted on <%= blog.date %> by <%= blog.author %> with ❤️.
          </p>
        </div>
        <div class="blog-content">
          <p><%= blog.content %></p>
        </div>

        <% if(currUser && blog.owner._id.equals( currUser._id)) { %>
        <div class="buttons mt-3" role="group">
          <a
            href="/blogs/<%= blog._id %>/edit"
            class="btn btn-primary editBtn"
            style="text-decoration: none"
          >
            EDIT
          </a>
          <form method="POST" action="/blogs/<%= blog._id %>?_method=DELETE">
            <button class="btn btn-danger deleteBtn">DELETE</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>

    <div class="col-12 mx-auto mb-1 review-form mt-3">
      <hr />
      <h4>Leave your review</h4>
      <form
        action="/blogs/<%= blog._id %>/reviews"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="mt-3">
          <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input type="radio" id="rate1" name="review[rating]" value="1" />
            <label for="rate1" title="Terrible">1 star</label>
            <input type="radio" id="rate2" name="review[rating]" value="2" />
            <label for="rate2" title="Not good">2 stars</label>
            <input type="radio" id="rate3" name="review[rating]" value="3" />
            <label for="rate3" title="Average">3 stars</label>
            <input type="radio" id="rate4" name="review[rating]" value="4" />
            <label for="rate4" title="Very good">4 stars</label>
            <input type="radio" id="rate5" name="review[rating]" value="5" />
            <label for="rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>

        <div class="mb-1">
          <label for="comment" class="form-label">Comment</label>
          <textarea
            type="text"
            class="form-control"
            rows="5"
            cols="50"
            name="review[comment]"
            id="comment"
            required
          ></textarea>
          <div class="invalid-feedback">Review should not be empty</div>
        </div>
        <button class="btn btn-outline-dark">SUBMIT</button>
      </form>
      <hr />
    </div>

    <% if(blog.reviews.length > 0) { %>
    <h4>All Reviews</h4>
    <div class="row review-container">
      <% for (review of blog.reviews) { %>
      <div class="card mb-1 mt-1 col-3 ms-1">
        <div class="card-body">
          <div class="reviewUser">
            <img
              src="../../extra/user.jpg"
              alt=""
              style="height: 30px; width: 30px"
            />

            <h5 class="card-title" style="padding-top: 8px">Mayappa Pujari</h5>
          </div>
          <p
            class="starability-result card-text"
            style="font-size: 10%;"
            data-rating="<%= review.rating %>"
          ></p>
          <p class="card-text"><%= review.comment %></p>
        </div>
        <% if(review.author) { %>
        <form
          method="post"
          action="/blogs/<%= blog._id %>/reviews/<%= review._id %>?_method=DELETE"
          class="mb-1"
        >
          <button class="btn btn-dark btn-sm deleteReview">DELETE</button>
        </form>
        <% } %>
      </div>
      <% } %>
    </div>
    <% } %>

  </div>
</body>
